@use '../globals';

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  padding: .5rem;
  justify-content: space-between;
  background-color: globals.$primary-color;
  align-items: center;
  height: 4rem;
  transition: opacity 250ms ease-in-out;

  &:hover{
    opacity: 1!important;
  }


  .nav-items {
    position: absolute;
    display: flex;
    left: -110%;
    top: 4rem;
    height: calc(100vh - 4rem);
    width: 100vw;
    flex-direction: column;
    background-color: globals.$primary-color;
    transition-property: left;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    gap: .6rem;


    * {
      text-align: center;
      padding: 1.1rem;
      max-width: 100%;

    }
  }

  #nav-toggle:checked + .nav-items {
    left: 0;
  }

  @media screen and (min-width: 800px) {
    label {
      display: none;
    }
    .nav-items {
      all: unset;
      list-style: none;
      display: flex;
      align-items: center;
      gap: .5rem;

      .btn {
        padding: .6rem;
      }

      * {
        text-align: unset;
        padding: unset;
        max-width: unset;

      }
    }

  }
}

.active {
  box-shadow: globals.$shadow-minor-float;
}
