@use "../globals";

.posts-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
  gap: 1rem;
  justify-content: space-around;
  padding: .6rem;
  box-shadow: globals.$shadow-minor-float inset;

  .profile-icon-con {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 .5rem;
    background-color: globals.$accent-color;
    width: max-content;
    border-radius: 2rem;

    > img {
      all: unset;
      width: 2rem !important;
      height: 2rem;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 1rem !important;
    }
  }

  .post-option {
    position: absolute;
    top: 1rem;
    right: 1rem;

    > ul{
      display: none;
      position: absolute;
      background-color: black;
      padding: 1rem;
      right: 0;
    }
  }

  .card {
    position: relative;
    max-width: 30rem;
    min-width: 20rem;
    padding: .7rem;
    border-radius: .4rem;
    background-color: globals.$primary-color;
    text-align: center;
    box-shadow: globals.$shadow-minor-float;

    img {
      width: 20rem;
      border-radius: .4rem;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    .card-body {

    }
  }
}
