@use "../globals";

.edit-profile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: none;
  justify-content: center;
  background-color: globals.$primary-color-dull;

  > .btn{
    position: absolute;
    background-color: globals.$primary-color-danger;
    z-index: 10;
    right: 2rem;
    top:4rem;
    font-size: 1.3rem;
    padding: .3rem;
    border-radius: .6rem;
    cursor: pointer;
  }

  > form {
    padding: 2rem;
    background-color: globals.$primary-color;
    border-radius: .4rem;
    box-shadow: 0 0 .2rem black;
    width: 350px;
    height: max-content;


    div {
      position: relative;
      img {
        width: 100%;
        aspect-ratio: 3/2;
        border-radius: 1rem;
        object-fit: cover;

      }
      label > *{
        position: absolute;
        bottom: .9rem;
        right: 2rem;
        background-color: whitesmoke;
        color: black;
        padding: .2rem;
        border-radius: .3rem;
      }

      display: flex;
      flex-direction: column;
      gap: .3rem;
      margin: .4rem auto;
      padding: .3rem;
      border-bottom: .1rem solid black;

      input[type=email], input[type=text] {
        border: none;
      }

    }
  }
}
