@use "../globals";

.login-con{
  background-color: globals.$accent-color;
  display: grid;
  height: 100vh;
  place-content: center;

  .login-form{
    max-width: 25rem;
    height: max-content;
    padding: 2rem;
    background-color: globals.$primary-color;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.4rem;
    box-shadow: globals.$shadow-minor-float;

    .form-control{
      display: flex;
      width: 100%;
      gap: .4rem;
      border-radius: .2rem;
      border:.1rem solid globals.$accent-color;
      padding: .4rem;
      label{
        color:black;
      }

      input{
        border: none;
        outline: none;
        background-color: transparent;
        color: black;
        font-size: 1.1rem;
      };
    }
  }
}
