@use '../globals';


.profile{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: center;
  padding-top: 3rem;
  background-color: globals.$primary-color-dull;
  line-height: .2;
  .p-img-con{
    overflow: hidden;
    border-radius: .4rem;
    width: 10rem;
    >*{
      border-radius: inherit;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}

.p-links{
  display: flex;
  justify-content: space-evenly;
  padding:2rem;
  background-color: globals.$primary-color;
}
