@use '../globals';

.register-con{
  background-color: globals.$accent-color;
  display: grid;
  height: 100vh;
  place-content: center;

  .register-form{
    max-width: 30rem;
    height: max-content;
    padding: 2rem;
    background-color: globals.$primary-color;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.4rem;
    box-shadow: globals.$shadow-minor-float;

    .form-control{
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: .4rem;
      border-radius: .2rem;
      border:.1rem solid globals.$accent-color;
      width: 100%;
      padding: .4rem;

      input{
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.1rem;
      };
    }
  }
}

