@use "./css/globals";

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: globals.$accent-color;
  padding: .2rem .4rem;
  border-radius: .3rem;
  cursor: pointer;

  &:hover{
    color: globals.$accent-color;
    background-color: black;
  }
}

.btn-danger {
  background-color: black;
  color: globals.$primary-color-danger;

  &:hover {
    background-color: globals.$primary-color-danger;
    color: white;
  }
}

ul {
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.contain{
  padding: 2rem;
}
